<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="br.com.shaft.kraftsales" android:versionCode="1" android:versionName="3.0.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.NFC" />
	<application android:label="DKP Fair" android:icon="@drawable/icon" android:largeHeap="true"></application>
</manifest>